<% @page_title = 'Celebrites' %>

<h1>Celebrities</h1>
<% # rules="all" %>
<table>
  <thead>
    <tr>
      <th>Full Name (surname first)</th>
      <th>Anniversaries?</th>
      <th>Primary Email</th>
      <th>Mobile</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @celebrities.each do |celebrity| %>
    <tr>
      <td>
        <% if celebrity.status == 'enabled' %>
          <%#= link_to(celebrity.last_name  + ' ' + celebrity.first_name, {:action => 'show', :id => celebrity.id}, :class => 'show') %>
          <%= link_to(celebrity.last_name  + ' ' + celebrity.first_name, {:action => 'show', :id => celebrity.id}, :class => 'show') %>
        <% else %>
          <%= celebrity.last_name  + ' ' + celebrity.first_name %>
        <% end %>
        <%#= celebrity.last_name  + ' ' + celebrity.first_name %>
      </td>
      <td><%= celebrity.anniversaries.size %></td>
      <td><%= celebrity.primary_email %></td>
      <td><%= celebrity.mobile %></td>
      <td><%= celebrity.status %></td>
        <td class="actions">
          <%#= link_to("Show", {:action => 'show', :id => celebrity.id}, :class => 'action show') %>
        </td>
  <% if celebrity.status == 'enabled' %>
        <td class="actions">
          <%= link_to("Anniversaries", {:controller => 'anniversaries', :action => 'list', :celebrity_id => celebrity.id}, :class => 'action child') %>
          <%= link_to("Edit", {:action => 'edit', :id => celebrity.id}, :class => 'action edit') %>
          <%#= link_to(image_tag("Aurelius/icons/icon_edit.png"), {:action => 'edit', :id => celebrity.id}) %>
        </td>
        <td class="actions">
          <%= link_to("Disable", {:action => 'disable', :id => celebrity.id}, :class => 'action disable') %>
        </td>
  <% else %>
        <td class="actions">
          <%= link_to("Enable", {:action => 'enable', :id => celebrity.id}, :class => 'action enable') %>
        </td>
  <% end %>
    </tr>
  <% end %>
</tbody>
<tfoot>
</tfoot>
</table>

<br />

<div class="hr dotted clearfix">&nbsp;</div>


Create <%= link_to 'New Celebrity', {:action => 'new'} %>
<%#Create <%= link_to 'New Celebrity', celebrities_new_path %>
